#!/bin/bash

{{ if eq .chezmoi.osRelease.id "arch" }}
# -------- Arch (pacman) --------
sudo pacman -Sy --noconfirm \
{{ range .packages.common -}}
    {{ . }} \
{{ end -}}
{{ range .packages.arch -}}
    {{ . }} \
{{ end }}

{{ else if or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu") }}
# -------- Debian/Ubuntu (apt) --------
sudo apt-get update
sudo apt-get install -y \
{{ range .packages.common -}}
    {{ . }} \
{{ end -}}
{{ range .packages.debian -}}
    {{ . }} \
{{ end }}

{{ else }}
echo "Unsupported Linux distribution: {{ .chezmoi.osRelease.id }}"
{{ end }}
